@import 'colors';

a {
  color: $cyan;
  text-decoration: none;

  &:hover,
  &:active,
  &:focus {
    color: $pink;
    text-decoration: underline;
  }

  &:visited {
    color: $cyan;
    text-decoration: none;

    &:hover,
    &:active,
    &:focus {
      color: $pink;
      text-decoration: underline;
    }
  }
}
