$foreground:   #f8f8f2;
$background:   #282a36;
$selection:    #44475a;
$comment:      #6272a4;

$red:          #ff5555;
$orange:       #ffb86c;
$yellow:       #f1fa8c;
$green:        #50fa7b;
$cyan:         #8be9fd;
$purple:       #bd93f9;
$pink:         #ff79c6;
