@media screen and (max-width: 1350px) {
  #wrapper {
    width: 95vw;
  }
}

@media screen and (max-width: 500px) {
  #post > #toc {
    float: none;
    margin: 0;
    width: auto;
    background-color: rgba(0, 0, 0, 0.25);
  }

  td {
    overflow: scroll;
    white-space: nowrap;
    text-overflow: clip;
  }

  table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }
}
