@import 'anchor';
@import 'colors';

html, body, p, ul, ol, li,
h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
}

body {
  color: $foreground;
  background-color: $background;
  font-family: Arial, sans-serif;
}

#wrapper {
  width: 75vw;
  margin: 0 auto;

  > h1 {
    padding: 0.5em 0;
    border-bottom: 4px solid $yellow;
  }
}

#footer {
  padding: 1em;
  border-top: 4px solid $red;
  background-color: rgba(0, 0, 0, 0.5);

  > h3 {
    display: inline-block;
    margin: 0 10px 4px 10px;
    padding: 0 4px 4px 4px;
    border-bottom: 4px solid;

    &:nth-child(7n + 1) {
      border-bottom-color: $red;
    }

    &:nth-child(7n + 2) {
      border-bottom-color: $orange;
    }

    &:nth-child(7n + 3) {
      border-bottom-color: $yellow;
    }

    &:nth-child(7n + 4) {
      border-bottom-color: $green;
    }

    &:nth-child(7n + 5) {
      border-bottom-color: $cyan;
    }

    &:nth-child(7n + 6) {
      border-bottom-color: $purple;
    }

    &:nth-child(7n + 7) {
      border-bottom-color: $pink;
    }
  }
}

@import 'responsive';
